$background: white;

$text-clear: white;
$text-dark: #060a24;

$color-primary: #00f3bb;
$color-secondary: #0000ec;

$gradient-bg: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
$gradient-btn: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);

$breakpoint-md: 600px;
$breakpoint-lg: 1200px;
